<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <nav>
  <ul>  
  <li><label> Recipie App</label></li>
  <li><a href="#home">Public recipes</a></li>
  <li><a href="#news">Recipe</a></li>
  <li><a href="#contact">Foods</a></li>
  <li style="float:right"><a class="" href="#about">Logout</a></li>  
</ul>
  <nav>
    <%= yield %>
  </body>
</html>
